.expense-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-heading{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.premium{
    padding: 5px;
    background-color: rgb(57, 47, 255);
    border: none;
    color: white;
    border-radius: 3px;
}
.expense-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.category {
    font-size: 1rem;
    cursor: pointer;
    margin-right: 50px;
}

.description {
    margin-top: 5px;
    font-style: italic;
    color: #555;
}

.action-icons {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    gap: 10px;
}

.icon {
    font-size: 1.2rem;
    color: steelblue;
    cursor: pointer;
}

.icon:hover {
    color: crimson;
}







