.expense-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-heading{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
.premium{
    padding: 5px;
    background-color: rgb(57, 47, 255);
    border: none;
    color: white;
    border-radius: 3px;
}
.expense-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.category {
    font-size: 1rem;
    cursor: pointer;
    margin-right: 50px;
    color: rgb(158, 84, 84);
}

.description {
    margin-top: 5px;
    font-style: italic;
    color: #915e5e;
}

.action-icons {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    gap: 10px;
}
.premiumTools {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0.5rem;
    top: 2rem;
    right: 0;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown button {
    display: block;
    margin: 0.5rem 0;
    background: #f0f0f0;
    border: none;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    border-radius: 6px;
}

.icon {
    font-size: 1.2rem;
    color: steelblue;
    cursor: pointer;
}

.icon:hover {
    color: crimson;
}







