
.welcome-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: solid 2px lightgray;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.welcome-text {
    margin: 2px;
    font-family: sans-serif;
    padding: 5px
    
}

.incomplete-profile {
    background-color: #d2cfcf;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
    
}

.incomplete-profile a {
    color: #4505cf;
    text-decoration: none;
}

.incomplete-profile a:hover {
    text-decoration: underline;
}

.email-verify {
display: flex;
justify-content: center;
margin-top: 4rem;
}
.email-verify button{
    padding: 8px;
    border: none;
    background-color: lightgreen;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.logout-btn{
    margin: auto;
    
}


.floating-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #7561AD;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.floating-btn:hover {
    transform: scale(1.1);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    z-index: 999;
}

.logout-btn {
    display: block;
    background-color: #f0a0a1;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    margin: 0.25rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #b27679;
}

.verify-btn {
    background-color: #1890ff;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.verify-btn:hover {
    background-color: #147dd8;
}